h3 {
    text-align: center;
}

.end-time {
    position: absolute;
    top: 0px;
}

.start-time {
    position: absolute;
    bottom: 0px;
}

.start-time,
.end-time {
    width: 100%;
    font-size: larger;
    font-weight: bold;
}

.description ul {
    display: table;
    margin: 0 auto;
}

#header {
    height: 50px;
}

#timeline-container {
    height: 90%;
}

.description {
    overflow: auto;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.time-period-container {
    height: 100%;
}

.years-ago {
    height: 100%;
    text-align: center;
}

#breadcrumbs-list {
    padding: 0px;
    margin: 0px 0px 0px 10px;
    background-color: inherit;
}

body {
    background-color: gainsboro;
}