h3 {
    text-align: center;
}

.start-time {
    position: absolute;
    top: 0px;
}

.end-time {
    position: absolute;
    bottom: 0px;
}

.description ul {
    display: table;
    margin: 0 auto;
}

#container {
    height: 100vh;
}

#header {
    height: 50px;
}

#timeline-container {
    height: 90%;
}

.time-period {
    overflow: auto;
}